.home-body{
    background: #02021A;
}
.img{
    height: 350px;
    width: 250px;
    border-radius: 50%;
  
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.homebutton{
    display: flex;
    justify-content: space-evenly;
}
.link{
    text-decoration: none;
}