.projectImg{
    height: 300px;
    
}
.card{
  
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-out;
	/* background:radial-gradient(#111 50%, #000 100%); */
}
card:hover .img{
	transform: scale(1.1) translateY(-20px); 
	opacity: 0.3
}
.card .body{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 15px;
	width: 100%;
	text-align: center;
	color: rgb(19, 18, 18);
	font-size: 18px;
}
.card .body h3{
	font-weight: 700;
	font-size: 32px;
	margin: 0 0 20px;
	transform: translateY(30px);
	opacity: 0;
	transition: all 0.3s ease-out;

}
/* .card .body p{
	transform: translateY(30px);
	opacity: 0;
	transition: all 0.3s ease-out 0.2s;
} */
.card .body .link{
	color: #fff;
	background:#34aff3;
	border-radius: 5px;
	text-decoration: none;
	transform: translateY(30px);
	opacity: 0;
	transition: all 0.3s ease-out 0.4s;
}
.card .body .link:hover{
	background:#0a83c5;
}
.card:hover .body h3{
	opacity: 1;
	transform: translateY(0px);
}
/* .card:hover .body p{
	opacity: 1;
	transform: translateY(0px);
} */
.card:hover .body .link{
	opacity: 1;
	transform: translateY(0px);
}
