.contactForm{
    
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmzTNKasNUdpCW9-vjr5N1FCypsv0JSBdigA&usqp=CAU");
    background-position: center;
    background-size: cover;
}
h1{
    margin-top: 25px;
}
.form{
    margin: 25px 85px 75px 100px;
}